html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

.ui-sprite, #content .title-wrapper .title-properties, #content .title-wrapper .title-contact, #content .title-wrapper .title-living-modern, #content .title-wrapper .title-links, body #header-logo, body.home #header-logo, header #menu-main li.home a, header #menu-main li.home.current-menu-item a, header #menu-main li.todd-goddard a, header #menu-main li.todd-goddard.current-menu-item a, header #menu-main li.properties a, header #menu-main li.properties.current-menu-item a, header #menu-main li.contact a, header #menu-main li.contact.current-menu-item a, header #menu-main li.blog-listing a, header #menu-main li.blog-listing.current-menu-item a, header #menu-main li.links a, header #menu-main li.links.current-menu-item a, #todd-photo, #hl-logo { background-image: url('../images/sprites/ui-s9624558328.png'); background-repeat: no-repeat; }

body, html { height: 100%; }

#container { margin: 0 auto; position: relative; width: 930px; text-align: left; background-image: url(../images/bg-green.gif); }
#container:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#footer-logo { position: absolute; right: 0px; }

.clear { clear: both; }

/*##################*/
/*Left column styles*/
/*##################*/
#content { /*##################*/ /*Modal Dialog Styles*/ /*##################*/ }
#content:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#content .title-wrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#content .title-wrapper h2 { float: right; margin: 0px 0px 15px 0px; }
#content .title-wrapper .title-properties { display: block; text-indent: -9999px; width: 690px; height: 57px; text-align: initial; background-position: 0 -779px; margin: 0px 35px 15px 0px; }
#content .title-wrapper .title-contact { display: block; text-indent: -9999px; width: 690px; height: 57px; text-align: initial; background-position: 0 -551px; }
#content .title-wrapper .title-living-modern { display: block; text-indent: -9999px; width: 690px; height: 57px; text-align: initial; background-position: 0 -722px; margin: 0px 35px 15px 0px; }
#content .title-wrapper .title-links { display: block; text-indent: -9999px; width: 690px; height: 57px; text-align: initial; background-position: 0 -665px; }
#content .page-content .title-wrapper .title-properties { margin-right: 0px; }
#content #mask { position: absolute; left: 0; top: 0; z-index: 9000; background-color: #000; display: none; filter: alpha(opacity=90); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9; }
#content #boxes .window { position: absolute; left: 0; top: 0; width: 720px; height: 500px; display: none; z-index: 9999; padding: 0px; font-family: futura, helvetica, sans-serif; font-weight: 100; font-size: 14px; text-decoration: none; color: FFF; line-height: 20px; text-align: center; }
#content #boxes .window img { margin: 0px 0px 0px 0px; }
#content #boxes .window a { text-decoration: none; color: #FFF; }
#content #boxes #dialog { width: 720px; height: 500px; padding: 10px; }

body #header-logo { display: block; text-indent: -9999px; width: 750px; height: 38px; text-align: initial; background-position: 0 -114px; margin: 0px; }
body #leftcol { float: left; width: 750px; }
body.home #header-logo { display: block; text-indent: -9999px; width: 930px; height: 38px; text-align: initial; background-position: 0 -114px; }
body.home #leftcol { width: auto; }

header { background-color: #000; padding: 10px 0px 10px 30px; height: 232px; z-index: -2; }

header img { display: block; margin: 0px 0px 5px 0px; display: relative; z-index: 10; }

header #menu-main { padding: 0px; margin: 0px; }
header #menu-main li { margin: 0px 0px 5px 0px; }
header #menu-main li a { display: block; }
header #menu-main li.home a { display: block; text-indent: -9999px; width: 48px; height: 19px; text-align: initial; background-position: 0 -247px; }
header #menu-main li.home.current-menu-item a { background-position: 0 -228px; }
header #menu-main li.todd-goddard a { display: block; text-indent: -9999px; width: 127px; height: 19px; text-align: initial; background-position: 0 -437px; }
header #menu-main li.todd-goddard.current-menu-item a { background-position: 0 -418px; }
header #menu-main li.properties a { display: block; text-indent: -9999px; width: 84px; height: 19px; text-align: initial; background-position: 0 -399px; }
header #menu-main li.properties.current-menu-item a { background-position: 0 -380px; }
header #menu-main li.contact a { display: block; text-indent: -9999px; width: 75px; height: 19px; text-align: initial; background-position: 0 -209px; }
header #menu-main li.contact.current-menu-item a { background-position: 0 -190px; }
header #menu-main li.blog-listing a { display: block; text-indent: -9999px; width: 171px; height: 19px; text-align: initial; background-position: 0 -361px; }
header #menu-main li.blog-listing.current-menu-item a { background-position: 0 -342px; }
header #menu-main li.links a { display: block; text-indent: -9999px; width: 42px; height: 19px; text-align: initial; background-position: 0 -323px; }
header #menu-main li.links.current-menu-item a { background-position: 0 -304px; }

.main-nav-link { z-index: 1; position: relative; }

.title { position: relative; bottom: -21px; z-index: 0; }

#content-index { position: relative; z-index: 10; background-color: #000; width: 930px; }

#content { background-color: #000; padding: 0px 0px 0px 0px; }

.page-nav { padding: 0px 30px 0px 0px; text-align: right; font-family: futura, helvetica, sans-serif; font-size: 14px; line-height: 20px; font-weight: 100; }

.page-nav a { text-decoration: none; color: #FFF; }

.page-nav .current { text-decoration: none; color: #609f43; }

#entry { padding: 0px 0px 100px 30px; }
#entry:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.black-overlay { display: none; position: absolute; top: 0px; left: 0px; height: 120%; width: 100%; background-color: black; z-index: 1001; -moz-opacity: 0.9; opacity: .90; filter: alpha(opacity=90); }

.close { display: block; text-align: left; }

#property-photo { display: inline-block; font-family: futura, helvetica, sans-serif; font-weight: 100; font-size: 14px; text-decoration: none; color: FFF; line-height: 20px; text-align: right; width: 500px; margin: 0px 0px 10px 0px; }

#property-photo img { margin: 0px 0px 5px 0px; }

#property-photo a { text-decoration: none; color: #FFF; }

.slideshow-prev { padding: 0px 5px 0px 20px; }

.slideshow-next { padding: 0px 0px 0px 5px; }

.slideshow-element { padding: 0px 2px 0px 2px; }

#property-description { margin: 0px 10px 0px 0px; vertical-align: top; float: left; text-align: right; width: 180px; font-family: futura, helvetica, sans-serif; font-size: 14px; line-height: 20px; font-weight: 100; color: #609f43; }

#property-description p { margin: 0px 0px 0px 0px; display: block; }

.textbox { font-family: futura, helvetica, sans-serif; color: #FFF; font-weight: 100; font-size: 14px; line-height: 18px; padding: 0px 30px 0px 0px; }
.textbox:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.textbox .description { margin: 0px 0px 20px 0px; }

.textbox p { display: block; margin: 0px 0px 0px 0px; }

.textbox a { text-decoration: none; color: #609f43; }

.textbox b { color: #609f43; }

.page-content, .blog-entry { font-family: futura, helvetica, sans-serif; font-weight: 100; font-size: 14px; line-height: 20px; text-align: right; color: #FFF; }

.page-content, .blog-entry { margin: 0px 35px 0px 0px; padding: 0px 0px 100px 0px; }
.page-content:after, .blog-entry:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.page-content { margin: 0px 35px 0px 30px; }

.page-content a, .blog-entry a { text-decoration: none; color: #609f43; }

.blog-entry h3 { margin: 10px 0px; font-size: 14px; color: #FFF; font-weight: 500; }

.page-content h1 { font-size: 14px; color: #FFF; font-weight: 500; }

.page-content b, .blog-entry b { color: #609f43; font-weight: 100; }

.page-content label, .blog-entry label { display: inline; margin: 0px 0px 0px 10px; color: #609f43; }

.page-content fieldset { padding: 20px; border: 1px solid #609f43; }

.blog-entry fieldset { padding: 20px; border: 1px solid #609f43; /*
					border-left: 0px;
					border-right: 0px;
					border-bottom: 0px;
*/ }

.contact-form { width: 420px; float: left; }
.contact-form label { display: block; margin: 0px 0px 40px; }

#comments-form textarea { width: 300px; height: 80px; }

#comments h2 { margin: 20px 0px 20px 0px; font-size: 12px; border-bottom: 1px solid #609f43; }

.comment { margin: 0px 0px 40px 0px; }

.comment i { font-size: 10px; }

.comment b { color: #609f43; }

.links-photo { float: left; margin: 0px 30px 0px 0px; }

#links-box { text-align: left; width: 200px; float: right; margin: -15px 0px 0px 0px; }

#links-box a { display: block; }

.right { text-align: right; }

.property-listing { display: inline-block; width: 335px; margin: 0px 20px 30px 0px; color: #FFF; font-family: futura, helvetica, sans-serif; font-weight: 100; font-size: 14px; }

.property-listing a { text-decoration: none; color: #FFF; }

.property-listing img { margin: 0px 0px 5px 0px; }

/*##################*/
/*Right column styles*/
/*##################*/
#rightcol { position: absolute; top: 0px; right: 0px; width: 180px; background-color: #FFF; }

#todd-photo { display: block; text-indent: -9999px; width: 180px; height: 250px; text-align: initial; background-position: 0 -950px; margin-top: 38px; }

#hl-logo { display: block; text-indent: -9999px; width: 147px; height: 65px; text-align: initial; background-position: 0 -49px; display: block; position: absolute; bottom: 0px; right: 15px; }

#rightnav { padding: 10px 0px 0px 15px; color: #FFF; font-family: futura, helvetica, sans-serif; font-weight: 100; background-image: url(../images/bg-green.gif); }
#rightnav ul { list-style-type: none; margin: 0px; padding: 0px; }

#rightnav a { color: #FFF; padding: 0px 0px 10px 0px; display: block; text-decoration: none; }

body #main-footer { background-color: #000; height: 30px; text-align: center; width: 750px; }
body #main-footer:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
body.home #main-footer { width: 930px; }

#main-footer p { color: #FFF; font-size: 13.2px; font-family: futura, helvetica, sans-serif; font-weight: 100; }

#main-footer b { font-weight: 100; color: #609f43; }

#main-footer a { font-weight: 100; color: #609f43; text-decoration: none; }

#main-footer { background-color: #000; text-align: center; display: block; }

#main-footer p { color: #FFF; font-size: 13.2px; font-family: futura, helvetica, sans-serif; font-weight: 100; }

#main-footer a { font-weight: 100; color: #609f43; text-decoration: none; }

#main-footer b { font-weight: 100; color: #609f43; }

#form-redirect { margin: 100px 0px 0px 0px; width: 100%; text-align: center; color: #FFF; font-size: 13.2px; line-height: 24px; font-family: futura, helvetica, sans-serif; font-weight: 100; }

#form-redirect a { color: #609f43; text-decoration: none; }
